@font-face{
	font-family:'Onest';
	src: url('https://static.tildacdn.com/tild3636-3836-4063-b836-636662306630/OnestThin1602-hint.woff') format('woff');
	font-weight:100;
	font-style:normal;
}

@font-face{
	font-family:'Onest';
	src:url('https://static.tildacdn.com/tild6135-3533-4336-b938-633234363731/OnestLight1602-hint.woff') format('woff');
	font-weight:300;
	font-style:normal;
}

@font-face{
	font-family:'Onest';
	src:url('https://static.tildacdn.com/tild6361-3234-4463-a165-303032646263/OnestRegular1602-hin.woff') format('woff');
	font-weight:400;
	font-style:normal;
}

@font-face{
	font-family:'Onest';
	src:url('https://static.tildacdn.com/tild3034-3132-4831-b832-316465313230/OnestMedium1602-hint.woff') format('woff');
	font-weight:500;
	font-style:normal;
}

@font-face{
	font-family:'Onest';
	src:url('https://static.tildacdn.com/tild6538-6366-4362-b632-643863353731/OnestBold1602-hint.woff') format('woff');
	font-weight:700;
	font-style:normal;
}

@font-face{
	font-family:'Onest';
	src:url('https://static.tildacdn.com/tild3262-6332-4563-b166-353631313630/OnestExtraBold1602-h.woff') format('woff');
	font-weight:800;
	font-style:normal;
}

@font-face{
	font-family:'Onest';
	src:url('https://static.tildacdn.com/tild3931-3132-4232-b463-653439643032/OnestBlack1602-hint.woff') format('woff');
	font-weight:900;
	font-style:normal;
}